<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin / project 2</title>
</head>
<body>
    <h2>Upload</h2>
    <form action="/admin" method="POST">
    <label>Name</label>
    <input type="text" name="name" placeholder="name">
    <label>Address</label>
    <input type="text" name="address1" placeholder="name">
    <label>Address postalcode</label>
    <input type="text" name="address2" placeholder="name">
    <label>Latitude</label>
    <input name="latitude" placeholder="latitude">
    <label>Longitude</label>
    <input name="longitude" placeholder="longitude">
    <label>Opening day</label>
    <input type="date" name="openingday">
    <label>Closing day</label>
    <input type="date" name="closingday">
    <label>Rescheduled Opening day</label>
    <input type="date" name="rescheduledOpnday">
    <label>Rescheduled Closing day</label>
    <input type="date" name="rescheduledClsday">
     <label>Web-Site</label>
    <input type="text" name="website" placeholder="web-site">
     <label>Ticket</label>
    <input type="text" name="ticket" placeholder="ticket-fee">
     <label>Image</label>
       <input type="text" name="image" placeholder="image-url">
     <label>Image CopyRight</label>
       <input type="text" name="image_copyright" placeholder="image-copyright">
     <label>Is rescheduled?</label>
     <input type="checkbox" name="is_rescheduled">
    <label>Event Type</label>
    <select name="type_of_event">
        <option value="exhibition">Exhibition</option>
        <option value="biennale">Biennale</option>
        <option value="art fair">Art Fair</option>
        <option value="event">Event</option>
        <option value="other">other type of event</option>
    </select>
     <label>Country</label>
    <select name="country">
        <option value="germany">Germany</option>
        <option value="switzerland">Switzerland</option>
        <option　value="united_kingdom">United Kingdom</option>
        <option value="italy">Italy</option>
        <option value="france">France</option>
        <option value="spain">Spain</option>
        <option value="belgium">Belgium</option>
        <option value="netherlands">Netherlands</option>
        <option value="greece">Greece</option>
        <option value="turkey">Turkey</option>
        <option value="other">Other countries</option>
    </select>
    <label>SEO text</label>
    <textarea name="seo_text"></textarea>
    <input type="submit" value="post">
    </form>

    <a href='/admin/logout'>log-out</a>
</body>
</html>